{% extends "::layout.html.twig" %}

{% block title %}About Author{% endblock %}
{% block description %}Gediminas Morkevičius {% endblock %}

{% block content %}
<h1>About Me</h1>

<p>Hi, my name is Gediminas Morkevičius, living in Lithuania, Kaunas or Nantes, France.
Je travaille à <a href="http://knplabs.com">Knplabs</a>, et j'aime beaucoup la France !</p>
<img alt="me" src="{{ asset('bundles/gedmoblog/img/photo/me.jpg') }}">
<p>My skills:</p>
<ul>
    <li>Batchelor of Informatics Engineering, specialization - organizational computer systems</li>
    <li>C, C++ - 2 years expereace working with MFC, OWL frameworks.</li>
    <li>PHP5 - 4 year expereance. Have been working on most known frameworks based on quality and stability. Best with Symfony2 and Zend.</li>
    <li>Advanced in javascript, not just jQuery or other fancy stuff, but full stack maintainable javascript applications.</li>
    <li>Lead developer of agile team, technical decisions, task flow control.</li>
    <li>Most of my experience is in e-commerce shops and their sub-systems.
    Expertise in delivering qualified custom solutions,
    which requires advanced skills to optimize and structure application.</li>
    <li>Love to read books and they are not about computer science. Mostly adore: F. Dostoyevsky, L. Tolstoy, A. Dumas, F. Nietzsche</li>
    <li>In spare time I'm mostly interested in new technologies on agile development and tools. I'm an opensource fan and
    <a href="http://www.archlinux.org/">Arch Linux</a> is my favourite OS. <a href="http://www.vim.org/">ViM</a> is my
    one and only text editor. And of course I`m giving some love back to opensource community</li>
</ul>

<p>You can find my opensource projects on <a href="http://github.com/l3pp4rd" target="new">github</a></p>
{% endblock %}
