web/bundles/
web/css/
web/js/
web/bundles/
web/schemas
app/bootstrap.php.cache
app/cache/*
app/logs/*
app/config/*.local.yml
app/config/parameters.yml
app/phpunit.xml
composer.phar
build/
vendor/
.project
.settings
.build.xml
.buildpath
