
pre.ini,
pre.php {
    margin-left: 25px;
    font-size: 11px;
    overflow:auto;
}

div.comment {
    margin: 10px 0 10px 15px;
    border-left: #000 solid 3px;
    border-bottom: #CCC solid 1px;
}

div.comment-title {
    font-weight: bold;
    font-size: 120%;
    padding: 0px 10px;
}

div.comment-title span.number {
    font-size: 95%;
    color: #000066;
    padding-right: 7px;
}

div.comment-title span.author {
    font-size: 75%;
    color: #006;
    padding-left: 3px;
}

div.comment-title span.comment-reply {
    font-size: 100%;
    padding-left: 7px;
}

div.comment-body {
    padding: 7px 10px;
}

label span.required {
    padding-left: 10px;
    color: red;
}

div.error-message {
    padding-left: 15px;
    color: red;
}

div.error-message ul li {
    text-decoration: none;
    list-style-image: none;	
}

div.input,
div.input input,
div.input textarea {
    margin-top: 5px;
}

div.separator {
    margin: 4px 0;
    border-top: solid 1px #EFF0F1; 
}
