<!DOCTYPE HTML>
<html lang="en">
<head>
  <title>{% block title %}{% endblock %} / Blog</title>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="Language" content="en" />
  <!--[if IE]>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <![endif]-->
  
  <meta name="copyright" content="Gediminas Morkevi훾ius" />
  <meta name="author" content="gediminas.morkevicius@gmail.com" />
  <meta name="publisher" content="Gediminas Morkevi훾ius" />
  
  <meta name="description" content="{% block description %}{% endblock %} open source targeting blog" />
  <meta name="keywords" content="blog, gediminas, morkevicius, php5, doctrine2, behavioral extensions, open source, orm" />
  <meta name="robots" content="{% block robots %}index, follow, all{% endblock %}" />
  
  {% stylesheets
    '@GedmoBlogBundle/Resources/public/css/twitter.css'
    '@GedmoBlogBundle/Resources/public/css/style.css'
    '@GedmoDemoBundle/Resources/public/css/demo.css'
    '@GedmoBlogBundle/Resources/public/css/github.css'
        
      output='css/blog.css'
  %}
    <link rel="stylesheet" type="text/css" href="{{ asset_url }}" media="all"/>
  {% endstylesheets %}
  {% block styles %}
  {% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">
  <a href="http://github.com/l3pp4rd">
    <img style="position: absolute; top: 35px; left: 0; border: 0; z-index: 5;" src="https://a248.e.akamai.net/assets.github.com/img/5d21241b64dc708fcbb701f68f72f41e9f1fadd6/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f7265645f6161303030302e706e67" alt="Fork me on GitHub">
  </a>
  <div class="topbar">
    <div class="fill">
      <div class="container">
        <a class="brand" href="/">Gediminas Morkevi훾ius blog</a>
        {{ knp_menu_render('GedmoBlogBundle:Builder:mainMenu', {'currentClass': 'active'}) }}
      </div>
    </div>
  </div>
    
  <div class="container">
    {% block content %}{% endblock %}
    
    <footer>
      <p>&copy; 2010-2012 Gediminas Morkevi훾ius, <strong>powered by</strong>: <a href="http://twitter.github.com/bootstrap">twitter bootstrap</a>, <a href="http://symfony.com">Symfony2</a>, <a href="http://www.doctrine-project.org/">Doctrine2</a>, <a href="http://softwaremaniacs.org/soft/highlight/en/">Highlight.js 6.1</a>, PHP-5.3</p>
    </footer>
  </div>

  {% javascripts
    '@GedmoBlogBundle/Resources/public/js/lib/jquery.js'
    '@GedmoBlogBundle/Resources/public/js/lib/highlight.pack.js'
    '@GedmoBlogBundle/Resources/public/js/blog.js'
      
       output='js/blog.js'
  %}
    <script src="{{ asset_url }}"></script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-17479764-1']);
      _gaq.push(['_trackPageview']);
    
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  </script>
  {% endjavascripts %}
  {% block scripts %}
  {% endblock %}
</body>
</html>
