parameters:
  database_driver:   pdo_mysql
  database_host:     localhost
  database_port:     ~
  database_name:     sfblog
  database_user:     root
  database_password: ~

  locale:            en
  secret:            secret
  
  knp_paginator.template.pagination: GedmoBlogBundle:Pagination:sliding.html.twig
  knp_paginator.template.sortable:   GedmoBlogBundle:Pagination:sorting.html.twig

