
div.languages {
    float: right;	
}

div.languages ul li {
    display: inline;
    list-style-type: none;
    padding-left: 7px;	
}

div.languages ul li.active a {
    color: blue;
    font-weight: bold;
}

div.languages ul li a:hover {
    color: red;
}

div.standard-form {
    margin-left:45px;
    margin-top: 25px;
}

div.input input,
div.input select,
div.input textarea {
    border-color:#AAAAAA #D3D3D3 #D3D3D3 #AAAAAA;
    margin-bottom:5px;
    padding:2px 6px;
    width:340px;
}

div.submit input[type=submit] {
    clear:both;
    display: block;
    font-size: 110%;
    padding: 2px 5px;
    width: 100px;
    
    background-color:#ADDBEB;
    background-image:url(../img/button_bg.jpg);
    background-repeat:repeat-x;
    border:1px solid #94D0E1;
    color:#005493;
    cursor:pointer;
}

div.error-message {
    clear: both;
    display: block;
    color:#990000;
    display:block;
    margin: 0 0 3px 35px; 
}

div.input label {
    display:block;
    float: left;
    font-weight:bold;
    margin:5px 0;
    clear: both;
}

div.input input, 
div.input select {
    padding:2px;
    font: normal 1em Verdana, sans-serif;
    color:#777;
    clear:both;
}

div.input textarea {
    clear: both;
    padding:2px;
    font: normal 1em Verdana, sans-serif;
    height:100px;
    display:block;
    color:#777;
}

input.button { 
    font: bold 12px Arial, Sans-serif; 
    height: 24px;
    margin: 0;
    padding: 2px 3px; 
    color: #FFF;
    border: none;
}

div.input label,
div.input input,
div.input select,
div.input textarea {
    display: block;
    float: left;
}

div.input label {
    margin-top: 10px;
}

#flashMessage {
    margin: 25px 0 0 15%;
    font-size: 125%;
    font-weight: bold;
    color: red;
}

table.table {
    clear: both;	
}