# vi: set ft=toml ts=4 sw=4 sts=4 :

baseurl = "http://{{ hostname }}"
languageCode = "en-us"
title = "Gediminas Morkevicius"
copyright = "2015-2016 Gediminas Morkevicius"
MetaDataFormat = "yaml"
description = "Programmer's Blog"

[Author]
    name = "Gediminas Morkevicius"
