{% extends "::layout.html.twig" %}

{% block title %}Contact{% endblock %}
{% block robots %}noindex, nofollow{% endblock %}

{% block scripts %}
<script type="text/javascript">
$(document).ready(function () {
    blog.onContactReady();
});
</script>
{% endblock %}

{% block content %}
<h1>Contact Me</h1>
    
    <ul>
       <li>Email: gediminas.morkevicius@gmail.com</li>
       <li>Skype: sektor.22</li>
    </ul>
    
    <!-- flash msg -->
    <div class="alert-message" style="display:none">
      <p>msg</p>
    </div>

    <div class="row">
    <form name="contact" id="contact-form">
      <fieldset>
      <legend>Send me a message</legend>
      <div class="clearfix">
        <div class="input">
          <input type="text" class="xlarge" placeholder="Sender" value="" name="message[sender]"/>
        </div>
      </div>
      <div class="clearfix">
        <div class="input">
          <input type="text" class="xlarge" value="" placeholder="Email" name="message[email]"/>
        </div>
      </div>
      <div class="clearfix">
        <div class="input">
          <textarea class="xlarge" name="message[content]" placeholder="Message"></textarea>
        </div>
      </div>
      
      <div class="actions">
        <button class="btn primary" type="submit">Send</button>
      </div>
      </fieldset>
    </form>
  </div>
{% endblock %}
