<p>Article id: {{ params.article_id }}</p>
<p style="margin: 15px 0 5px 25px">{{ params.subject }} [by ({{ params.author }})]</p>
<p>Comment:</p>
<p style="margin: 15px 0 5px 25px">{{ params.content|raw }}</p>