{% block field_row %}
{% spaceless %}
    <div class="input {% if child.isRequired %}required{% endif %}">
        {{ form_label(child) }}
        {{ form_errors(child) }}
        {{ form_field(child) }}
    </div>
{% endspaceless %}
{% endblock field_row %}

{% block errors %}
{% spaceless %}
    {% if field.hasErrors %}
        {% set first = '' %}
        {% for error in field.errors|reverse %}
            {% set first = error %}
        {% endfor %}
        <div class="error-message">
            {% trans first.messageTemplate with first.messageParameters from 'validators' %}
        </div>
    {% endif %}
{% endspaceless %}
{% endblock errors %}