#feedback_form {
    margin-left:45px;
    margin-top: 25px;
}

div.input,
div.input input,
div.input textarea {
    margin-top: 5px;
}

#flashMessage {
    margin: 25px 0 0 15%;
    font-size: 125%;
    font-weight: bold;
    color: red;
}

div.line {
    margin: 5px 0 0 45px;
    line-height: 20px;
}

div.line-label {
    display: inline;
}

div.line-value {
    display: inline;
    padding-left: 5px;
}

div.line-value a {

}

div#kontaktai {
    margin-top: 20px;
}
