<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="UTF-8" />
        <meta name="copyright" content="Gediminas Morkevicius" />
        <meta name="author" content="gediminas.morkevicius@gmail.com" />
        <meta name="google-site-verification" content="2KRSpQgUcTZoyVqwDkduFDHMS6VdpzD980L0l9ZH4NE" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="Content-Language" content="en" />
        <meta name="keywords" content="{% block keywords %}{% endblock %}programming, technologies, php, blog, articles, news, doctrine2, symfony2" />
        <meta name="description" content="{% block description %}{% endblock %}Articles about programming in PHP5, open source snippets. Doctrine2, Symfony2 platforms" />
        <meta name="robots" content="{% block robots %}index, follow{% endblock %}" />
        <title>{% block title %}{% endblock %} / Blog</title>
        <link href="{{ asset('bundles/gedmoblog/css/layout.css') }}" media="screen" rel="stylesheet" type="text/css" />
        
        {% block assets %}{% endblock %}
    {% endblock %}
</head>
<body>
<div id="wrap">
    <div id="header">
        <p id="logo-text"><a href="{{ path('home') }}" title="Home">Blog</a></p>
        <p id="slogan">Developer's blog page:</p>
            <div id="header-links">
            </div>
    </div>
           
    <div id="menu">
        {{ knp_menu_render('GedmoBlogBundle:Builder:mainMenu') }}
    </div>

    <div id="content-wrap">
        <div id="sidebar">
            {% block sidebar %}
            <h3>Links</h3>
            <ul class="sidemenu">
                <li><a href="http://www.doctrine-project.org/projects/orm" target="new" title="The doctrine project on PHP">Doctrine2</a></li>
                <li><a href="http://symfony-reloaded.org" target="new" title="Symfony2 is powering the site">Symfony2</a></li>
                <li><a href="http://knplabs.com" target="new" title="Knplabs, best place to work">Knplabs</a></li>
            </ul>
            
            <h3>Wise Words</h3>
            <div class="left-box">
                <p>&quot;If you don't have time to do it right, when will you have time to do it over?.&quot; </p>
                <p class="align-right">- John Wooden</p>
            </div>
            {% endblock %}
        </div>
            
        <div id="main">
            {% block content %}{% endblock %}
        </div>
    </div>

    <div id="footer">
        <p>
        {% block footer %}
            &copy; 2010 - 2011 <strong>Gediminas Morkevicius</strong> |
            Design by: <a href="http://www.styleshout.com/" target="new" title="This site layout was made by">styleshout</a> |
            Valid <a href="http://validator.w3.org/check?uri=referer" target="new" title="Site XHTML validator">XHTML</a> |
            <a href="http://jigsaw.w3.org/css-validator/check/referer" target="new" title="Site CSS validator">CSS</a>
            <br />
            <strong>Powered by: </strong>
            <a href="http://www.doctrine-project.org/projects/orm" target="new" title="The doctrine project on PHP, used by this site">Doctrine2</a> |
            <a href="http://symfony.com" target="new" title="Symfony2 is powering the site">Symfony2</a> |
            <a href="http://php.net" target="new" title="The script language of this site">PHP 5.3.4</a>
        {% endblock %}
        </p>
    </div>
</div>
{% block scripts %}{% endblock %}
</body>
</html>