<!DOCTYPE HTML>
<html lang="en">
<head>
  <title>{% block title %}{% endblock %} / Blog</title>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="Language" content="en" />
  <!--[if IE]>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <![endif]-->
  
  <meta name="copyright" content="Gediminas Morkevi훾ius" />
  <meta name="author" content="gediminas.morkevicius@gmail.com" />
  <meta name="publisher" content="Gediminas Morkevi훾ius" />
  
  <meta name="description" content="{% block description %}{% endblock %} open source targeting blog" />
  <meta name="keywords" content="blog, gediminas, morkevicius, php5, doctrine2, behavioral extensions, open source, orm" />
  <meta name="robots" content="{% block robots %}index, follow, all{% endblock %}" />
  
  {% stylesheets
    '@GedmoBlogBundle/Resources/public/css/twitter.css'
    '@GedmoBlogBundle/Resources/public/css/style.css'
    '@GedmoBlogBundle/Resources/public/syntaxhighlighter/styles/shCore.css'
    '@GedmoBlogBundle/Resources/public/syntaxhighlighter/styles/shThemeRDark.css'
    '@GedmoDemoBundle/Resources/public/css/demo.css'
        
      output='css/blog.css'
  %}
    <link rel="stylesheet" type="text/css" href="{{ asset_url }}" media="all"/>
  {% endstylesheets %}
  {% block styles %}
  {% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">
  <div class="topbar">
    <div class="fill">
      <div class="container">
        <a class="brand" href="/">Gediminas Morkevi훾ius blog</a>
        {{ knp_menu_render('GedmoBlogBundle:Builder:mainMenu', {'currentClass': 'active'}) }}
      </div>
    </div>
  </div>
    
  <div class="container">
    {% block content %}{% endblock %}
    
    <footer>
      <p>&copy; 2010-2012 Gediminas Morkevi훾ius, <strong>powered by</strong>: <a href="http://twitter.github.com/bootstrap">twitter bootstrap</a>, <a href="http://symfony.com">Symfony2</a>, <a href="http://www.doctrine-project.org/">Doctrine2</a> <a href="http://alexgorbatchev.com/SyntaxHighlighter/">SyntaxHighlighter3.0</a> PHP-5.3</p>
    </footer>
  </div>

  {% javascripts
    '@GedmoBlogBundle/Resources/public/js/lib/jquery.js'
    '@GedmoBlogBundle/Resources/public/syntaxhighlighter/scripts/shCore.js'
    '@GedmoBlogBundle/Resources/public/syntaxhighlighter/scripts/shBrushPhp.js'
    '@GedmoBlogBundle/Resources/public/syntaxhighlighter/scripts/shBrushSql.js'
    '@GedmoBlogBundle/Resources/public/syntaxhighlighter/scripts/shBrushXml.js'
    '@GedmoBlogBundle/Resources/public/syntaxhighlighter/scripts/shBrushPlain.js'
    '@GedmoBlogBundle/Resources/public/js/blog.js'
      
       output='js/blog.js'
  %}
    <script src="{{ asset_url }}"></script>
  {% endjavascripts %}
  {% block scripts %}
  {% endblock %}
</body>
</html>
